body {
    font-family: 'Baloo Thambi 2';
    background-color: #14646F;
    color: white;
}
a {
    color: white;
}
a:hover {
    color: white;
}
.navbar-brand {
    size: 80%;
}
.navbar-collapse {
    text-align: center;
}
.jumbotron {
    margin-top: 20vh;
    color: white;
}
.btn-primary {
    background-color: transparent;
    border-color: white;
}
.bg-white { 
    background-color: white!important;
    transition: 300ms linear;
}
.nav-transparent {
    background-color: transparent;
    transition: 300ms linear;
}
#content {
    margin-top: 25vh;
}
