body {
    font-family: 'Baloo Thambi 2';
    background-color: #3b6978;
    color: #dee3e2;
}
a {
    color: #dee3e2;
}
a:hover {
    color: #dee3e2;
}
.navbar-brand {
    size: 80%;
}
.navbar-collapse {
    text-align: center;
}
.jumbotron {
    margin-top: 20vh;
    color: #dee3e2;
}
.btn-primary {
    background-color: transparent;
    border-color: #dee3e2;
}
.bg-white { 
    background-color: #dee3e2!important;
    transition: 300ms linear;
}
.nav-transparent {
    background-color: transparent;
    transition: 300ms linear;
}
#content {
    width: 75%;
    margin-top: 23vh;
    margin-right: auto;
    margin-left: auto;
}
